<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Корпус от речеви команди</title>	
    <link href="static/styles/app.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="wrapper">

      <header>
        <h1>Съгласие за участие</h1>
      </header>

      <section class="top-display">
	<div class="legal">
1. Ако се съгласите да участвате страницата ще поиска разрешение за използването на микрофона Ви. Ще може да натиснете бутон за записване и на екрана ще излязат подред серия от думи, като при изговарянето на всяка от тях ще се запазва запис на гласа Ви. На края на сесията ще може да изпратите записите чрез натискането на съответния бутон, като на всеки етап преди това може да се откажете от участието си.
	</div>
	<div class="legal">
2.	Участието Ви е доброволно и може на всеки етап да се откажете от него. Участвайки се отказвате от всякакви компенсации за дейността.
	</div>
	<div class="legal">
3.	Взимайки участие се отказвате от авторските права на създадените записи и се съгласявате последните да бъдат публикувани публично, което предполага, че могат да бъдат използвани за комерсиални и некомерсиални цели.
	</div>
	<div class="legal">
Като натискате ‘Съгласен съм’ потвърждавате, че имате навършена 18 годишна възраст, разбирате гореизложените точки и сте съгласни записите Ви да бъдат съхранявани, използвани и споделяни.
	</div>
      </section>

    </div>

    <a href="https://github.com/petko10/bg-open-speech-recording">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
    </a>

  </body>
</html>
